@media (max-width: 600px) {
    .index{
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        .main-index{
            .img-presentacion{
                height: 90vh;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                text-align: center;
                background-image: url(assets/img/background2.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: unset;
                &:nth-child(2){
                    align-items: center;
                }
                .presentacion_title{
                    display: inline-block;
                    line-height: 45px;
                    font-family: 'Roboto Flex', sans-serif;
                    font-size: 40px;
                    color: whitesmoke;
                    margin: 10% 0 0 0;
                    animation: blink 2s ease-in-out;
                    @keyframes blink {
                        0% {
                            line-height: 0px;
                        }
                        100% {
                            line-height: 45px;
                        }
                    }
                }
                .img-modificaciones{
                    float: right;
                    margin-top: 0;
                    width: 100%;
                }
            }
        }
    }
}